# Ignorar o arquivo de configuração settings.py
project/settings.py

# Ignorar o banco de dados SQLite
db.sqlite3

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
project/__pycache__/

# Virtual Environment
venv/
env/

# Django
*.log
local_settings.py
media/
staticfiles/
*.pot
*.py[co]

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*.bak
*.tmp
*.orig

# Outros
*.env
.env/
.coverage
*.egg-info/
build/
dist/
