<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1 id="title-about-us-complete-page">Quem Somos?</h1>
    
    <p class="text-p-about-us-complete-page">
        Fundada em dezembro de 2017, o <b>Grupo SPEEDWAY Transporte Exclusivo</b> nasceu de um sonho coletivo entre motoristas e motociclistas de Jundiaí-SP. Consolidada em janeiro de 2018, a empresa carrega em sua essência o compromisso de oferecer transporte rápido, confiável e acessível.
    </p>
    <p class="text-p-about-us-complete-page">
        Nosso propósito vai além da logística: trabalhamos para reduzir custos para os clientes, ao mesmo tempo em que promovemos uma distribuição de renda justa para nossos colaboradores. Esse equilíbrio é alcançado por meio de uma gestão ética e transparente, focada em resultados que beneficiam a todos os envolvidos.
    </p>
    <p class="text-p-about-us-complete-page">
        No <b>Grupo SPEEDWAY Transporte Exclusivo</b>, cada entrega é única. Selecionamos cuidadosamente nossos profissionais, avaliando experiência, referências e conduta ética, garantindo um serviço seguro e de qualidade. Nossa frota moderna e bem conservada, combinada com um atendimento personalizado e um sistema de rastreamento em tempo real, faz com que cada cliente tenha a confiança de que sua carga está em boas mãos.
    </p>
    <p class="text-p-about-us-complete-page">
        Mais do que uma empresa de transporte, o <b>Grupo SPEEDWAY Transporte Exclusivo</b> é parceiro dos nossos clientes e colaboradores. Valorizamos a transparência, a ética e a dedicação, criando um ambiente de trabalho colaborativo e promovendo a excelência em tudo o que fazemos.
    </p>
    <p class="text-p-about-us-complete-page" id="last-p-aboout-us-complete-page">
        No <b>Grupo SPEEDWAY Transporte Exclusivo</b>, acreditamos que o sucesso é construído juntos. É por isso que tratamos cada carga com o mesmo cuidado e compromisso com que cuidaríamos de algo nosso.
    </p>

        <!-- Rodapé -->
    <footer>
        <p class="footer-all-pages">&copy; 2024 Transportadora SPEEDWAY. Todos os direitos reservados.</p>
        <audio controls>
            <source src="{% static 'audio/background-music.mp3' %}" type="audio/mpeg">
             Seu navegador não suporta o elemento de áudio.
        </audio>
    </footer>
</body>
</html>
